[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
day4 = "6YVxaXeFLifNp3Di9yjzKJVqr6DwgtQyuJCn32oP3A73"

[programs.devnet]
day4 = "6YVxaXeFLifNp3Di9yjzKJVqr6DwgtQyuJCn32oP3A73"  # Add this section


[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
